<nav class="navbar">
  <a href="#" class="navbar-logo">
    <img src="img/logo-sumbar" alt="logo-smk" id="smk" />
    <img src="img/logo-kotapadang.png" alt="logo-kotapadang" id="padang" />PPDB
    <span>SMK</span></a
  >
  <nav class="navbar-nav">
    <a href="#home">Home</a>
    <a href="#daftar-sekolah">Daftar Sekolah</a>
    <a href="#daftar-peserta">Daftar Peserta Didik</a>
  </nav>

  <nav class="navbar-extra">
    <a href="#" id="search"
      ><i data-feather="search"></i>
      <p>Cari</p></a
    >
    <a href="logout.php" id="login"
      ><i data-feather="log-in"> </i>
      <p>Logout</p></a
    >
    <!-- <a href="#" id="search"><i data-feather="seacrh"></i></a> -->
  </nav>
</nav>

<!-- Feather Icons -->
<script>
  feather.replace();
</script>
