/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover {
  color: var(--bg);
}

.footer .links {
  margin-bottom: 1.4rem;
}

footer .links a:hover {
  color: var(--bg);
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .socials a {
  color: var(--bg);
  font-weight: 700;
}
